<!-- Llamar a cabecera -->
<%- include('./partials/header') -%>


<div class="container py-5">

    <div class="col mx-auto pt-5 text-center">
        <a href="/">
            <h1 class="hoverEffects bold_Kire" style="font-size: 150px;">404</h1>
        </a>
        <p >Page Not Found.</p>
        <p></p>
    </div>

</div>

